.popup {
    position: fixed;
    pointer-events: all;
    background-color: #efffef;
    resize: both;
    overflow: auto;
    min-height: 36px;
    top: 100px;
    left: 100px;
    min-width: 400px;
    width: 400px;
}

.handle {
    cursor: grab;
}

p, li, button {
    font-family: arial;
    font-size: 16px;
}

.toggleMinimize {
    background-image: none;
    background: c8e8e8;
    margin: 0;
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    padding: 0;
}

.minimizeIcon {
    width: 14px;
    height: 0px;
    border: 1px solid black;
    display: block;
    position: relative;
    margin: 10px auto auto auto;
}

.maximizeIcon {
    width: 14px;
    height: 14px;
    border: solid black;
    border-width: 2px 1px 1px 1px;
    display: block;
    position: relative;
    margin: auto;
}

.titleText {
    font-size: 16px;
    cursor: pointer;
}

.windowBody {
    font-size: 12px;
    font-family: arial;
    padding: 5px;
}

button {
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: #c8e8e8;
}

.truncated {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}