.popup {
    margin: "auto";
    pointer-events: "all"; 
    width: "300px";
    z-index: 1;
    background-color: #efefef;
}

.myButton {
    text-align: "center"; 
    display: "block";
    margin: 0 auto;
    background-color: "#c8e8e8"
}