<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static '/nfa_favicon.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes From Afar</title>
    <style>
      @import url("https://unpkg.com/98.css") layer(ninetyeight);
    </style>
    <link rel="stylesheet" crossorigin href="{% static '/assets/index-C3XsqkVO.css' %}">
    <script type="module" crossorigin src="{% static '/assets/index-M65VkpZL.js' %}"></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>