/* .info {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
}

.message {
  position: fixed;
  top: calc(50vh - 300px);
  left: calc(50vw - 200px - 20px);
  z-index: 1;
}

.pins {
  position: fixed;
  top: 20px; 
  left: calc(100vw - 400px - 40px);
  z-index: 1;
}

.favorites {
  position: fixed;
  top: 50vh;
  left: calc(100vw - 400px - 40px);
  z-index: 1;
} */