@font-face {
  font-family: Erode;
  src: url("src/assets/Erode/Erode-Variable.ttf") format("truetype");
}

@font-face {
  font-family: Erode;
  src: url("src/assets/Erode/Erode-VariableItalic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: Sentient;
  src: url("src/assets/Sentient/Sentient-Variable.ttf") format("truetype");
}

@font-face {
  font-family: Sentient;
  src: url("src/assets/Sentient/Sentient-VariableItalic.ttf") format("truetype");
  font-style: italic;
}

:root {
  --accent-dark-green: #054718;
}

h1 {
  font-family: Sentient;
  font-style: italic;
  font-variation-settings: "wght" 700;
  font-size: 70px;
  color: var(--accent-dark-green);
  line-height: 1;
}

p {
  font-family: Erode;
  font-style: italic;
  font-variation-settings: "wght" 500;
  font-size: 30px;
  color: var(--accent-dark-green);
  line-height: 1.5;
  margin: auto 0px;
  /* margin: 20px 0px 0px 0px; */
  padding: 0px 15px;
  pointer-events: all;
  /* margin-left: auto; */
}

audio {
  pointer-events: all;
}

.create {
  font-variation-settings: "wght" 700;
  border: 2px solid var(--accent-dark-green);
  background-color: white;
  border-radius: 10px;
}

.controls {
  margin-left: auto;
  display: inline-flex;
}

main {
  display: flex;
  flex-flow: column;
  /* justify-content: space-between; */
  height: 100vh;
}

header {
  position: relative;
  padding:  15px 20px;
  z-index: 1;
  display: inline-flex;
  pointer-events: none;  
  flex-flow: row;
  /* justify-content:space-around; */
  /* border: 2px solid var(--accent-dark-green);
  background-color: white;
  border-radius: 10px; */
}

.headerConnector {
  position: relative;
  display: inline;
  flex-grow: 1;
  height: 0px;
  border: 1px solid var(--accent-dark-green);
  margin: auto 0px auto 15px;
}

/* use flexbox */

footer {
  position: relative;
  padding: 20px;
  z-index: 1;
  display: inline-flex;
  /* margin-top: auto; */
  pointer-events: none;
}

h2 {
  font-family: Sentient;
  font-style: italic;
  font-variation-settings: "wght" 500;
  font-size: 60px;
  color: var(--accent-dark-green);
  line-height: 1;
}