@font-face {
  font-family: DMMono;
  src: url("src/assets/DM-Mono/DMMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: RobotoMono;
  src: url("src/assets/Roboto/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

.information {
  position: absolute;
  display: flex;
  flex-flow: row;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}

.left {
  position: relative;
  display: block;
  margin-right: auto;
}

.center {
  position: relative;
  display: block;
  margin: auto;
}

.right {
  position: relative;
  display: block;
  margin-left: auto;
}
