.info {
    background-color: #fff;
    padding: 7px;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.tabs {
    margin-left: -3px;
    background-color: #fff;
}

.slider {
    width: auto;
    margin: 10px;
}

label {
    margin-right: 7px;
}

ol {
    margin-left: 0px;
    padding-left: 20px;
}